
.aboutcontainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.abouttext {
    font-size: 3vw; 
    padding: 20px;
    background-color:transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:white;
}