body {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  margin:0;
  padding:0;
}
.bar {
  display: flex;
  align-items:center;
  height: 60px;
  border-bottom:solid;
  border-width:1.5px;
}

.bar .logo {
  font-weight:bold;
  padding:15px;
}

.bar .display-menu {
  display: flex;
  align-items: right;
  margin-left:auto;
  padding:15px;
  font-weight:bold;
}

.display-menu .menu {
  padding: 0 15px;
  text-decoration:none;
  color:black;
}